body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*App*/
.App {
  display: flex;
  flex-direction: row;
}

.map,
.ol-map {
  height: 100vh;
  width: 100%;
}
/* SideBar */
.SideBar {
  max-width: 300px;
  width: 300px;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

/* User */
.User {
  display: flex;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.User.selected {
  background: #588C7E;
}

.User__img {
  max-height: 50px;
  padding-right: 5px;
}

/* Pop Up */ 
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}